<style>

.div1 {
  float: left;
  font-size: 60px;
  color: #ff9400;
  font-weight: bold;
}

.div2 {
  float: right;
  text-align: right;
  font-size: 60px;
  color: purple;
  font-weight: bold;
}

</style>

<div>
  <div class="div1"> <%= @player1 %> </div>
  <div class="div2"> <%= @player2 %> </div>
</div>
