<style>

.div1 {
  float: left;
  font-size: 60px;
  color: #ff9400;
  font-weight: bold;
}

.div2 {
  float: right;
  text-align: right;
  font-size: 60px;
  color: purple;
  font-weight: bold;
}

</style>

<div>
  <div class="div1"> <%= @player1 %> </div>
  <div class="div2"> <%= @player2 %>: <%= @p2health %>
  </div>
</div>
<form method="get" action="/attacked_player_2">
    <button type="submit">Attack player 2</button>
</form>
